:root {
  --color-backgris:#f3f2ef;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--color-backgris);

}
header a,header svg {
  color: grey;
  text-decoration: none;
  font-size: 12px;
}

header {
  padding: 8px 10%;
  width: 100%;
  height: 60px;
  display: flex;
  background-color: white;

}
.search-header input {
border: none;
box-shadow: none; background-color: gray;
width: 80%;
line-height: 1.75;
font-weight: 400;
font-size: 14px;
height: 34px;
background-color: rgb(238, 243, 248);
border-radius: 5px;
padding: 0 .8rem 0 40px;
}
.search-header img {
 width: 34px;
 margin-right: 10px

}
.search-header {
  display: flex;
  align-items: center;
  margin-right: auto;
  width: 400px;
}
.nav-list {
    list-style-type: none;
  display: flex;
  gap: 2rem;     
}
.nav-list-items {
text-align: center
}
.nav-list-items svg {
  width:
}
.nav-list :nth-child(6) {
 border-right: 1px dotted black;
 padding-right: 40px;
}
.nav-list :nth-child(8) a{
  text-decoration:underline;
  color: #ae8549;

}
.nav-item6 img {
width: 24px;
  height: 24px;
}
main {
   padding: 8px 10%;
}

.main-container  {
  display: grid;
  grid-template-columns: 22% 50% 30%;
  gap: 2rem;
}
.profile-container, .tags-container {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: white;
  
}

.profile-container img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 10px
 
  
}
.profile-container svg{
  width:20px;
}
.bg-profile-container {
  background-image: url("../img/bg.png");
  height: 60px;
  position: relative;
  border-radius: 10px 10px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
   display: flex;
   justify-content: center;
  align-items: center;
  
}
.profile-header {
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.relations-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px dotted grey;
}
.number-relations  {
  color: blue;
}
.relations span {
  color: black;
}
.icon-text {
  display: flex;

}
.infos-container {
  padding:10px;
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
}
.element-text {
  padding: 10px;
}
.wrapper-tags{
  padding: 10px;
  border-bottom: 1px dotted;
}
.tags-container li {
  list-style-type: none;
  display: flex;
  gap: 1rem
}
.tags-container svg {
  color: grey;
  width: 15px;
}
.tags-container ul a {
  color: grey;
  text-decoration: none;
}
.tags-container .group {
  padding: 6% 0%;
}
.tags-container .group a {
  color: blue;
}
.discover {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.postComment-container {
  display: flex;
  flex-direction: column;
  gap: 1rem
}
.img-input-container {
display: flex;
  gap: 1rem;
}
.img-input-container input {
  width: 100%;
}
.actions-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.img-input-container img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}


#first-column, #second-column, #third-column {
  height: 600px;
  border-radius: 10px;
}
#first-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.grey {
  color:grey;
}