@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
a {
  color: #fff;
  text-decoration: none;
}

.header__navigation-links {
  font-weight: 500;
  letter-spacing: 1px;
}
.header__navigation-links:hover {
  color: #de0611;
}

.banner__buttons a {
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 80.5%;
}

body {
  background-color: #000;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10rem;
  z-index: 100;
}
@media only screen and (max-width: 991px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}
.header__logo img {
  max-width: 15rem;
}
.header__navigation {
  display: flex;
}
@media only screen and (max-width: 991px) {
  .header__navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    justify-content: center;
  }
}
.header__navigation li {
  list-style: none;
  margin: 0 10px;
}
.header__search {
  position: relative;
  width: 30rem;
  height: 4rem;
}
.header__search input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
  border-radius: 4px;
  padding: 0 1rem 0 4.5rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.header__search input:placeholder {
  color: #fff;
}
.header__search .fa-magnifying-glass {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  padding-right: 1rem;
  color: #fff;
  border-right: 1px solid #fff;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 10rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .banner {
    padding: 20rem 50px;
  }
}
.banner__bg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner__content {
  position: relative;
  z-index: 1;
  max-width: 55rem;
}
.banner__content h4 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
}
.banner__content h4 span {
  padding: 0 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.banner__content h4 span:first-child {
  padding-left: 0;
}
.banner__content h4 span:last-child {
  border-right: none;
}
.banner__content h4 span i {
  background-color: #de0611;
  color: #fff;
  padding: 0 8px;
  display: inline-block;
  font-style: normal;
  border-radius: 2px;
}
.banner__content p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
  color: #fff;
  margin: 1rem 0 2rem;
}
.banner__buttons {
  position: relative;
}
.banner__buttons a {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  padding: 6px 20px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.banner__buttons a:hover {
  background: #de0611;
}
.banner__buttons a i {
  margin-right: 5px;
}
.banner__movieTitle {
  max-width: 25rem;
}

.trailer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  visibility: hidden;
  opacity: 0;
}
.trailer.active {
  visibility: visible;
  opacity: 1;
}
.trailer__video {
  max-width: 70rem;
  outline: none;
}
@media only screen and (max-width: 991px) {
  .trailer__video {
    max-width: 90%;
  }
}
.trailer__close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  filter: invert(1);
  max-width: 3rem;
}/*# sourceMappingURL=main.css.map */